.step_icon{
    font-size: 72px;
    color: #1e3a8a;
}

.steps_heading{
    color: #1e3a8a;
    font-weight: bold;
    margin-top: 40px;
}

.steps_para{
    font-weight: 500;
    margin-bottom: 30px;
}